
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.url">jdbc:mysql:///feugoDB</property>
	<property name="connection.username">root</property>
	<property name="connection.password">1234</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="show_sql">true</property>
	<property name="hibernate.c3p0.max_size">500</property>
	<property name="hibernate.c3p0.min_size">10</property>
	<property name="hibernate.c3p0.acquire_increment">1</property>
	<property name="hibernate.c3p0.idle_test_period">0</property>
	<property name="hibernate.c3p0.validate">true</property>
	<property name="hibernate.c3p0.timeout">31536000</property>
	<mapping resource="cn/tinder/fuego/domain/po/RoleMapMenu.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/MenuTree.hbm.xml" />

	<mapping resource="cn/tinder/fuego/domain/po/SystemUser.hbm.xml" />
	<mapping
		resource="cn/tinder/fuego/domain/po/PhysicalAssetsStatus.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/TransEvent.hbm.xml" />
	<mapping
		resource="cn/tinder/fuego/domain/po/TransEventType.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/AssetsPrice.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/AssignPlan.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/CheckPlan.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/DiscardPlan.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/TransExtAttr.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/AssetsQuota.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/AssetsType.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/PurchasePlan.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/OperateRecord.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/RecapturePlan.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/ReceivePlan.hbm.xml" />
	<mapping
		resource="cn/tinder/fuego/domain/po/TransOperRecord.hbm.xml" />
	<mapping resource="cn/tinder/fuego/domain/po/AssetsFix.hbm.xml" />



</session-factory>
</hibernate-configuration>
<!--
   注意hibernate.cfg.xml文件的路径 要放在src下面 要不然找不到该文件？？
   因为这个文件是hibernate 自动加载的 要是路径不对的话 就会找不到该文件。。 
 -->